<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if record|default and record.title -%}
            {{- record.title ~ ' – ' -}}
        {%- endif -%}
        {{- config.get('general/sitename') -}}
        {%- if record|default == null and config.has('general/payoff') -%}
            {{- ' – ' ~ config.get('general/payoff') -}}
        {%- endif -%}
    </title>
    <link rel="stylesheet" href="{{ asset('assets/font/basis-grotesque-pro.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/barblinameierhans.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/swiper/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/base.css') }}">

    <script defer src="{{ asset('assets/alpinejs@3.4.2.min.js') }}"></script>
</head>
<body class="p-4 md:p-8 xl:p-16"
    x-data="{ intro: true, header: false }" x-init="setTimeout(() => { intro = false; }, 1000)">

    {% block header %}
    
        <h1 class="fixed top-0 transform transition w-full text-6xl text-center md:text-8xl mb-24 font-medium" :class="header ? 'translate-y-0' : '-translate-y-full'">
            barblina meierhans

            <button class="absolute -bottom-10 left-1/2 transition" style="width: 24px;"
                @click="header = ! header">
                <img src="{{ asset('assets/img/arrow.svg') }}" :style="`transform: rotate(${header ? '' : '-'}90deg);`" alt="Previous Slide">
            </button>
        </h1>
    
    {% endblock header %}

    <nav id="nav" class="md:pb-10 xl:pb-28 pt-0 transition" :class="header ? 'pt-28' : ''">
        {{ menu('main', 'partials/_navigation.twig') }}
    </nav>

    <main>
    {% block body %}{% endblock body %}
    </main>

    <script src="{{ asset('assets/swiper/swiper-bundle.min.js') }}"></script>

</body>
</html>