{% if page.title != '' %}
<h2 class="text-3xl md:text-5xl xl:text-6xl">{{ page.title }}</h2>
{% endif %}
{% if page.subtitle != '' %}
<h3 class="text-2xl md:text-3xl xl:text-4xl mt-3 mb-20">{{ page.subtitle }}</h3>
{% endif %}
{% if page.body != '' %}
<div class="text-base md:text-xl xl:text-3xl mt-4 lg:mt-10 xl:mt-20">
    {{ page.body }}
</div>
{% endif %}

{% if page.contact|default(false) %}
<div id="contact" class="relative text-base md:text-xl xl:text-3xl mb-5 mt-10 lg:mt-18 xl:mt-24">
    {{ boltform('contact') }}
</div>
{% endif %}

{% if page.gallery and page.gallery|length %}
<div id="gallery" class="relative text-base md:text-xl xl:text-3xl mb-5 mt-10 lg:mt-18 xl:mt-24">
    <div class="swiper swiper-gallery">
        <div class="swiper-wrapper">
            {% for image in record.gallery %}
            <div class="swiper-slide">
                <img src="{{ image|thumbnail(1200) }}" alt="{{ image.alt|default(page|title) }}">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="swiper-button-next">
        <img src="{{ asset('assets/img/arrow.svg') }}" alt="Next Slide">
    </div>
    <div class="swiper-button-prev">
        <img src="{{ asset('assets/img/arrow.svg') }}" style="transform: rotate(180deg);" alt="Previous Slide">
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var swiper = new Swiper(".swiper-gallery", {
            slidesPerView: 1,
            loop: true,
            autoHeight: true,
            spaceBetween: 25,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    });

</script>
{% endif %}
{% if page.video is not empty %}
<div id="video" class="text-base md:text-xl xl:text-3xl mb-5 mt-10 lg:mt-18 xl:mt-24">
    <div class="relative" style="padding-top: 56.25%">
        {{ page.video.html|raw }}
    </div>
</div>
{% endif %}
{% if page.audio_files is not empty %}
<div id="audio">
    {% for audio in page.audio_files %}
    <audio controls class="hidden">
        <source src="{{ audio }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="audio-player mb-10" data-file="{{ audio }}">
        <div class="name mb-4 text-xl">{{ audio.title }}</div>
        <div class="time flex justify-between text-xl">
            <div class="current">0:00</div>
            <div class="length"></div>
        </div>
        <div class="timeline mt-2 mb-8">
            <div class="progress"></div>
        </div>
        <div class="controls flex">
            <div class="toggle-play cursor-pointer play mr-2">
                <img src="{{ asset('assets/img/play.svg') }}" alt="Play">
            </div>
            <div class="toggle-pause cursor-pointer pause mr-3">
                <img src="{{ asset('assets/img/pause.svg') }}" alt="Pause">
            </div>
            <div class="toggle-stop cursor-pointer stop">
                <img src="{{ asset('assets/img/stop.svg') }}" alt="Stop">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
